<form method="post" action="/save" class="ask-form">
  <input type="text" name="name" class="text" placeholder = "Enter your name..." required autofocus>
  <input type="submit" value="Save" class="btn">
</form>