<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/stylesheets/application.css" type="text/css">
    <meta charset="UTF-8">
    <title>Codebreaker</title>
  </head>
  <body>
    <h1>Welcome to the Codebreaker game!</h1>
    <p>Please, enter the code which contains 4 digits from 1 to 6 to make guess or take a hint which returns the secret digits in a random order.</p>
    <p>Available attempts: <%= @game.available_attempts %></p>
    <p>Available hints:  <%= @game.available_hints %></p>
    <form method="post" action="/guess">
      <input name="guess" type="text" placeholder="Type your guess here..." autofocus>
      <input class="btn" type="submit" value="Submit">
    </form>
    Results: <%= @game.made_guesses %>
  </body>
</html>