<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/stylesheets/application.css" type="text/css">
    <meta charset="UTF-8">
    <title>Codebreaker</title>
  </head>
  <body>
    Test
  </body>
</html>